/**
 * General setup for layout.
 */
html {
    overflow-y: scroll;
}

.footer {
    color: #ebebeb;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.main-wrapper {
    padding: 15px 10px;
}
