/**
 * General setup for layout.
 */
html {
    overflow-y: scroll;
}

.footer {
    color: #ebebeb;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.main-wrapper {
    padding: 15px 10px;
}

.dice-utf8 .dice-1::after { content: "\2680"; }
.dice-utf8 .dice-2::after { content: "\2681"; }
.dice-utf8 .dice-3::after { content: "\2682"; }
.dice-utf8 .dice-4::after { content: "\2683"; }
.dice-utf8 .dice-5::after { content: "\2684"; }
.dice-utf8 .dice-6::after { content: "\2685"; }

.dice-utf8 {
    font-size: 2.5em;
}
